<div id="layout">

    <div id="left-pane">
        <ul>
            <li *ngFor="let dir of directories" (click)="fetchDirMp3s(dir)" [ngClass]="dir === selectedDir ? 'active' : '' ">
                <span>
                    {{ dir }}
                </span>
            </li>
        </ul>
    </div>

    <div id="main">

        <div>
            <ul>
                <li *ngFor="let entry of entries">
                    <!-- <app-music-adapter [entry]="entry" [directory]="selectedDir"></app-music-adapter> -->
                    <app-music-adapter [entry]="entry"></app-music-adapter>
                </li>
            </ul>
        </div>

    </div>

    <div id="right-pane">
        <ul>
            <li *ngFor="let playlist of spotifyPlaylists">
                {{ playlist.name }}
            </li>
        </ul>
    </div>

</div>
